body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#news-container {
    max-width: 800px;
    margin: 20px auto;
}

article {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h5 {
    margin-top: 10px;
    font-weight: 100;
    font-style: normal;
    line-height: 1.4;
    color: rgb(0, 0, 0);
}

p {
    font-weight: 100;
    color: #666769;
}

.tbcite a:link {
    color: #666769;
  }
  
  .tbcite a:visited {
    color: #666769;
  }
  
  .tbcite a:hover {
    color: #ff85ae;
  }